.team-card-container {
  background-color: #ffffff33;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  border: 1px solid #475569;
  border-radius: 10px;
  padding: 25px 5px 25px 5px;
  margin: 5px;
}

.card-link {
  text-decoration: none;
  outline: none;
}

.team-logo {
  height: 55px;
  width: 50px;
  margin: 3px 4px 3px 4px;
}

.team-name {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin: 3px 4px 3px 4px;
  min-width: 85px;
  max-width: 100px;
}

@media (min-width: 768px) {
  .team-card-container {
    display: flex;
    justify-content: space-around;
    width: 300px;
    padding: 22px 10px 22px 10px;
    margin: 8px;
  }

  .team-logo {
    height: 90px;
    width: 80px;
  }

  .team-name {
    font-size: 20px;
    min-width: 90px;
    max-width: 120px;
  }
}
